@import "tailwindcss";
@plugin "tailwind-scrollbar";

/* Fonts */
.manrope {
	font-family: "Manrope", sans-serif;
}
.space-mono {
	font-family: "Space Mono", monospace;
}
.geist-mono {
	font-family: "Geist Mono", monospace;
}
/* Clip Paths */
@layer utilities {
	.clip-bottom-right-tri {
		clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 100%, 0 100%);
	}
}
.clip-bottom-right-tri {
	clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 100%, 0 100%);
}
/* Tailwind Animations / Theme */
@theme {
	--animate-blink: blink 1s steps(1, end) infinite;
	@keyframes blink {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	--animate-marquee-scroll-x: marquee-scroll-x 40s linear infinite;
	--animate-marquee-scroll-y: marquee-scroll-y 40s linear infinite;
	@keyframes marquee-scroll-x {
		to {
			transform: translateX(calc(-50% - 0.5rem));
		}
	}
	@keyframes marquee-scroll-y {
		to {
			transform: translateY(calc(-50% - 0.5rem));
		}
	}
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
/* Marquee Styling */
.marquee-horiz-mask {
	-webkit-mask: linear-gradient(
		90deg,
		transparent,
		white 20%,
		white 80%,
		transparent
	);
	mask: linear-gradient(
		90deg, 
		transparent, 
		white 20%, 
		white 80%,
		transparent
	);
}
.marquee-vert-mask {
	-webkit-mask: linear-gradient(
		/* 90deg, */
		transparent,
		white 20%,
		white 80%,
		transparent
	);
	mask: linear-gradient(
		/* 90deg,  */
		transparent, 
		white 20%, 
		white 80%,
		transparent
	);
}